{
    "token": "",
    "unbToken": "",
    "prefix": "!",
    "owners": [
        ""
    ],
    "developers": [
        ""
    ],
    "presence": {
        "status": "online",
        "activities": [
            {
                "type": "WATCHING",
                "name": "text"
            }
        ]
    }
}